<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teddy</title>
    <link rel="stylesheet" href="../styles/teddy.css">
</head>

<body>
    <div class="main">
        <h1>Here is your reward 🧸</h1>
    </div>
    <div class="bear">
        <div class="face">
            <div class="ear left"></div>
            <div class="ear right"></div>
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="nose-circle"></div>
            <div class="mouth-circle"></div>
            <div class="mouth"></div>
        </div>
        <div class="body">
            <div class="belly"></div>
            <div class="foot left">
                <div class="inner-foot"></div>
            </div>
            <div class="foot right">
                <div class="inner-foot"></div>
            </div>
            <div class="hand left"></div>
            <div class="hand right"></div>
        </div>
    </div>
</body>

</html>