body {
    margin: 0;
}

.main {
    background: linear-gradient(135deg, #FF6B6B, #FF8E53, #FFC96C);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
}

#infoText {
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin: 5%;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 4px #000; 
    text-align: center;
}
#gameCanvas{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black; 
}

@media (max-width: 600px){
    #infoText{
        font-size: 25px;
    }
}