body {
    margin: 0 auto;
    background: linear-gradient(135deg, #86b8ff, #a9d4ff);
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main{
    animation: popUp 1s ease forwards;
}

.bear {
   margin-top: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: popUp 1s ease forwards;
}

.face {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #8b5a2b;
    position: absolute;
    top: 50%;
    transform: translateY(-130%);
    z-index: 1;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.ear {
    position: absolute;
    background-color: #8b5a2b;
    width: 60px;
    height: 120px;
    border-radius: 50%;
     box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.ear.left {
    top: -50px;
    left: -40px;
    transform: rotate(-45deg);
}

.ear.right {
    top: -50px;
    right: -40px;
    transform: rotate(45deg); 
}

.eye {
    position: absolute;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.eye.left {
    top: 30%;
    left: 25%;
}

.eye.right {
    top: 30%;
    left: 55%;
}

.nose-circle {
    position: absolute;
    background-color: #e3b982; /* Lighter color */
    width: 40px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.nose {
    position: absolute;
    background-color: black;
    width: 20px;
    height: 10px;
    border-radius: 50%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.mouth-circle {
    position: absolute;
    background-color: #e3b982; 
    width: 100px;
    height: 70px;
    border-radius: 50%;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.body {
    border-radius: 50%;
    width: 300px;
    height: 260px;
    background-color: #8b5a2b;
    position: relative;
    z-index: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.foot {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #c68f54; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.inner-foot {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #e3b982; 
    border-radius: 50%;
}

.foot.left {
    bottom: -10%;
    left: 20%;
}

.foot.right {
    bottom: -10%;
    left: 60%;
}

.hand {
    position: absolute;
    width: 60px;
    height: 150px;
    background-color: #8b5a2b;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.hand.left {
    top: 20%;
    left: -30px;
    transform: rotate(45deg);
}

.hand.right {
    top: 20%;
    right: -30px;
    transform: rotate(-45deg);
}
.belly {
    position: absolute;
    width: 150px; 
    height: 150px; 
    background-color: #e3b982; 
    border-radius: 50%;
    bottom: 20%; 
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
@keyframes popUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

